@media (min-width: 768px){
    .left-6-5rem{
        left: 6.5rem !important;
    }
    .left-4-25rem{
        left: 4.25rem !important;
    }
    .left-2rem{
        left: 2rem !important;
    }
    .left--0-25rem{
        left: -0.25rem !important;
    }
    .left--2-5rem{
        left: -2.5rem !important;
    }
    .left--4-75rem{
        left: -4.75rem !important;
    }
    .left--7rem{
        left: -7rem !important;
    }
}